.carousel-container {
    position: relative;
  }

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-slide {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: transform 0.3s ease;
    line-height: 1;
}

.carousel-slide img {
    height: 23em;
    width: 100%;
}

 .carousel-button {
    position: absolute;
    top: 30%;
   
    font-size: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF975F;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;

} 

#prevButton {
    left: 0;
}

#nextButton {
    right: 0;
}