<!-- <section class="breedInformation-container">
    <div class="select">
        <select name="dogName" id="dogName" [(ngModel)]="selectedDogName" (change)="changeDogData()">
            <option *ngFor="let dog of breedData" [value]="dog.name">{{ dog.name }}</option>
          </select> 
    </div>

    <div class="api-container">
    <div *ngIf="selectedDog.image_link">
      <img [src]="selectedDog.image_link" [alt]="selectedDog.name">
    </div>
</div>

  </section>
  
   -->

<section class="breedInformation-container">
  <div class="select">
    <select name="dogName" id="dogName" [(ngModel)]="selectedDogName" (change)="changeDogData()">
      <option *ngFor="let dog of breedData" [value]="dog.name">{{ dog.name }}</option>
    </select>
  </div>

  <div class="api-container">
    <div *ngIf="selectedDog.name">
      <img [src]="selectedDog.image_link" [alt]="selectedDog.name">
      <h2>Detalhes Adicionais</h2>
      <p>Name: {{ selectedDog.name }}</p>
      <p>Shedding: {{ selectedDog.Shedding }}</p>
      <p>Grooming: {{ selectedDog.Grooming }}</p>
      <p>Playfulness: {{ selectedDog.playfulness }}</p>
      <p>Protectiveness: {{ selectedDog.protectiveness }}</p>
      <p>Energy: {{ selectedDog.energy }}</p>
      <p>Barking: {{ selectedDog.barking }}</p>
      <p>Trainability: {{ selectedDog.trainability }}</p>
      <p>Drooling: {{ selectedDog.drooling }}</p>
    </div>

  </div>
</section>